<%= simple_form_for(@register) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :student,prompt:"Select Student"%>
    <%= f.input :matric_id, label:"Matric ID"%>
    <label>Semester</label><br>
    <%= f.select :semester,["2","3","4","5","6","7","8"],prompt:"Select Semester"%>
    <br><br>
    <%= f.input :description,input_html:{rows:6}%>
  </div>
  <div class="form-actions">
    <%= f.button :submit,"Register",:class=>"btn btn-danger btn-block"%>
  </div>
<% end %>