<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @meeting.user_id %>
</p>

<p>
  <strong>Time and date:</strong>
  <%= @meeting.time_and_date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @meeting.description %>
</p>

<p>
  <strong>Matric:</strong>
  <%= @meeting.matric_id %>
</p>

<p>
  <strong>Student:</strong>
  <%= @meeting.student %>
</p>

<%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<%= link_to 'Back', meetings_path %>
