<% provide(:advisee_list, "active") %>
<div class="container">
  <div class="student-index">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="search">
              <form class="form-inline my-2 my-lg-0">
                <%= form_tag students_path, :method => 'get' do %>
                  <%= text_field_tag :search,params[:search],:class=>"form-control mr-sm-2",:placeholder => "Search by Matric ID"%>
                  <div class="my-btn" style="margin-top: 4px">
                    <%= submit_tag "Search",:class=>"btn btn-danger btn-block "%>
                  </div>
                <% end %>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
    <% @students.each do |student| %>
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="card-body">
            <h6 class="card-text"><%= link_to student.name %> | <%= link_to student.matric_id,student %></h6>
            <div class="button-group">
              <%= link_to "Show",student,:class=>"btn btn-secondary btn-sm"%>
              <% if can? :update, @student %>
                <%= link_to "Edit",edit_student_path(student),:class=>"btn btn-secondary btn-sm"%>
              <% end %>
              <% if can? :destroy, @student %>
                <%= link_to "Delete",student_path(student),method: :delete,data:{confirm:'Are you sure?'},:class=>"btn btn-secondary btn-sm"%>
              <% end %>
            </div>
            <div class="small">Added at <%= student.created_at.strftime("%B,%d,%Y")%></div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <% if can? :create, @student %>
  <div class="row" style="padding: 5px 0px">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <%= link_to 'Add New Student', new_student_path,:class=>"btn btn-danger btn-block" %>
    </div>
  </div>
  <% end %>
</div>
</div>