<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @student.user_id %>
</p>

<p>
  <strong>Matric:</strong>
  <%= @student.matric_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Student status:</strong>
  <%= @student.student_status %>
</p>

<p>
  <strong>Study level:</strong>
  <%= @student.study_level %>
</p>

<p>
  <strong>Current semester:</strong>
  <%= @student.current_semester %>
</p>

<p>
  <strong>Student type:</strong>
  <%= @student.student_type %>
</p>

<p>
  <strong>College:</strong>
  <%= @student.college %>
</p>

<p>
  <strong>Ic number:</strong>
  <%= @student.ic_number %>
</p>

<p>
  <strong>Passport number:</strong>
  <%= @student.passport_number %>
</p>

<p>
  <strong>Permanent address:</strong>
  <%= @student.permanent_address %>
</p>

<p>
  <strong>Current address:</strong>
  <%= @student.current_address %>
</p>

<p>
  <strong>Country:</strong>
  <%= @student.country %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @student.gender %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @student.date_of_birth %>
</p>

<p>
  <strong>Mobile number:</strong>
  <%= @student.mobile_number %>
</p>

<p>
  <strong>Blood type:</strong>
  <%= @student.blood_type %>
</p>

<p>
  <strong>Race:</strong>
  <%= @student.race %>
</p>

<p>
  <strong>Religion:</strong>
  <%= @student.religion %>
</p>

<p>
  <strong>Marital status:</strong>
  <%= @student.marital_status %>
</p>

<p>
  <strong>Bank:</strong>
  <%= @student.bank %>
</p>

<p>
  <strong>Bank account:</strong>
  <%= @student.bank_account %>
</p>

<p>
  <strong>Sponsor:</strong>
  <%= @student.sponsor %>
</p>

<p>
  <strong>Siswa email:</strong>
  <%= @student.siswa_email %>
</p>

<p>
  <strong>Personal email:</strong>
  <%= @student.personal_email %>
</p>

<p>
  <strong>Cgpa 1:</strong>
  <%= @student.cgpa_1 %>
</p>

<p>
  <strong>Cgpa 2:</strong>
  <%= @student.cgpa_2 %>
</p>

<p>
  <strong>Cgpa 3:</strong>
  <%= @student.cgpa_3 %>
</p>

<p>
  <strong>Cgpa 4:</strong>
  <%= @student.cgpa_4 %>
</p>

<p>
  <strong>Cgpa 5:</strong>
  <%= @student.cgpa_5 %>
</p>

<p>
  <strong>Cgpa 6:</strong>
  <%= @student.cgpa_6 %>
</p>

<p>
  <strong>Cgpa 7:</strong>
  <%= @student.cgpa_7 %>
</p>

<p>
  <strong>Cgpa 8:</strong>
  <%= @student.cgpa_8 %>
</p>

<p>
  <strong>Faculty:</strong>
  <%= @student.faculty %>
</p>

<p>
  <strong>Program:</strong>
  <%= @student.program %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
