<% provide(:program, "active") %>
<div class="container">
  <div class="program-index">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="search">
              <form class="form-inline my-2 my-lg-0">
                <%= form_tag programs_path, :method => 'get' do %>
                  <%= text_field_tag :search,params[:search],:class=>"form-control",:placeholder => "Search by Program Name"%>
                  <div class="my-btn" style="margin-top: 4px">
                    <%= submit_tag "Search",:class=>"btn btn-danger btn-block "%>
                  </div>
                <% end %>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
    <% @programs.each do |program| %>
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="card-body">
            <h6 class="card-text"><%= link_to program.name %></h6>
            <div class="button-group">
              <%= link_to "Show",program,:class=>"btn btn-secondary btn-sm"%>
              <% if can? :update, @program %>
                <%= link_to "Edit",edit_program_path(program),:class=>"btn btn-secondary btn-sm"%>
              <% end %>
              <% if can? :destroy, @program %>
                <%= link_to "Delete",program_path(program),method: :delete,data:{confirm:'Are you sure?'},:class=>"btn btn-secondary btn-sm"%>
              <% end %>
            </div>
            <div class="small">Added at <%= program.created_at.strftime("%B,%d,%Y")%></div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <% if can? :create, @program %>
    <div class="row" style="padding: 5px 0px">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <%= link_to 'Add New Program', new_program_path,:class=>"btn btn-danger btn-block" %>
      </div>
    </div>
  <% end %>
</div>
</div>