<% provide(:payment, "active") %>
<div class="container">
  <div class="payment-index">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="search">
              <form class="form-inline my-2 my-lg-0">
                <%= form_tag payments_path, :method => 'get' do %>
                  <%= text_field_tag :search,params[:search],:class=>"form-control",:placeholder => "Search by Matric Id"%>
                  <div class="my-btn" style="margin-top: 4px">
                    <%= submit_tag "Search",:class=>"btn btn-danger btn-block"%>
                  </div>
                <% end %>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  <div class="row">
    <% @payments.each do |payment| %>
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-text"><%= link_to payment.student.name,payment %> | <%= link_to payment.student.matric_id,payment%></h5>
            <small>Deposited <strong><%= payment.amount %> MYR</strong> at <%= payment.created_at.strftime("%B,%d,%Y")%></small>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <% if can? :create, @payment %>
    <div class="row" style="padding: 5px 0px">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <%= link_to 'New Payment', new_payment_path,:class=>"btn btn-danger btn-block"%>
      </div>
    </div>
  <% end %>
</div>
</div>