<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @bug.user_id %>
</p>

<p>
  <strong>Message:</strong>
  <%= @bug.message %>
</p>

<%= link_to 'Edit', edit_bug_path(@bug) %> |
<%= link_to 'Back', bugs_path %>
